@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: #0b132b;
}

@font-face {
  font-family: "Magistral";
  src: url("/src/utils/fonts/MagistralBold.otf") format("truetype");
}

.headers {
  font-family: "Magistral", sans-serif;
}
